rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow public read/write for all collections
    // This is because the user requested to remove the login session.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
